body{
    margin: 0 auto;
    background-image:url('../image/Flag.jpg');
    background-repeat: repeat;
    background-color: #1a53ff;
}

/**********************Start of Nav************************/

.nav-bar{
    height:51px;
    width:100%;
    background-color:rgba(255, 0, 0, 0.5);/*this is red green*/
    position:fixed;
    top:0;
}

.logo{
    height:50px;
    width:50px;
    float:center;
    margin-top:7px;
}

.list{
    float:right;
    margin-right:20px;
    position: relative;
    top:-20px;
}

.list-item{
    list-style-type:none;
    float:left;
    margin:10px;
    background-color:#99c2ff; /* */
    display:inline-block;
    height:25px;
    width:60px;
    border: 3px solid #000000; /*border is black*/
    border-radius:20px;
    padding:5px 0px 0px 20px;
}

.list-item:hover{
    background-color:white;
}

.list-item a:hover{
    color:#000;
}


.anchor{
    margin-top:8px;
    margin-left:8px;
    color:;
    text-decoration:none;
}
/***********************End of Nav********************/

/***********************Start of Hero Section****************/
.h1{
    font: bold;
    color:#ff3300;
}

.hero{
    background-image:url('../image/psclogo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:500px;
    width:100%;
    position:inherit;
    top:50px;
}
/*************************End of Hero Section***************/

/*************************Start of Main Body**************/

.main{
    height:600px;
    width:100%;
}

.box{
    height:550px;
    width:45%;
    border:3px solid #00061a;
    float:left;
    margin:75px 25px 25px 25px;
}

.main-p{
    font-size:2em;
    background:white;
    text-align:justify;
    padding:25px;
    color:black;
    border-radius:4px;
}

.group-gym{
    background-image: inherit;
    height:50%;
    width:50%;
    border-radius:4px;
}

.group-gym:hover{
    width:100%;
    transform: scale(2);
    transition:all 0.9s pop-out;
    transition-duration: 3s;
}

.team{
    background-image: inherit;
    height:50%;
    width:50%;
    border-radius:4px;
    float:right;
}

.team:hover{
    transform: scale(2);
    width:100%;
    transition:all 0.9s pop-out;
    transition-duration: 3s;
}

.heather{
    background-image:inherit;
    height:49%;
    width:50%;
    border-radius:4px;
    float:bottom;
}

.heather:hover{
    transform: scale(2);
    width:100%;
    transition:all 0.9s pop-out;
    transition-duration: 3s;
}

.sunday{
    background-image:inherit;
    height:49%;
    width:50%;
    border-radius:4px;
    float:bottom;
    float: right;
}

.sunday:hover{
    transform: scale(2);
    width:100%;
    transition:all 0.9s pop-out;
    transition-duration: 3s;
}

/**********************End of Main Body********************/

/**********************Start of Footer**********************/
footer{
    background-color:rgba(109,110,112,0.8);
    height:70px;
    clear:both;
}

.footer-col{
    width:100%;
    float:clear;
}

.footer-button, .social, .copyright{
    display:block;
    text-align: center;
}

.footer-button{
    margin-top: auto;
}

.input{
    height:30px;
    width:170px;
}


.button{
    height:30px;
    width:60px;
    text-align: center;
}

.fab{
    font-size:2em;
    margin-top:18px;
    margin:0 auto;
}

.fa-facebook-square{
    color:#4267b2;
}

.fa-instagram{
    color:#231F20;
}